*{
  font-family: Poppins;
  font-style: normal;
  overflow-x: hidden;
}
.page{
  position: absolute;
  width: 1220px;
  height: 1000px;
  left: 220px;
  top: 72px;
  background: #F6FBF8;
  overflow-x: hidden;
  overflow-y: hidden;
}
.title{
  position: absolute;
  width: 1220px;
  height: 71px;
  left: 0px;
  top: 0px;
  background: #F6FBF8;
}
.head1{
  position: absolute;
  width: 400px;
  height: 36px;
  left: calc(50% - 211px/2 - 459.5px);
  top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: #45524A;
}
.head2{
  position: absolute;
  width: 333px;
  height: 27px;
  left: calc(50% - 333px/2 - 398.5px);
  top: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #969BA0;
}
.search{
  position: absolute;
  width: 300px;
  height: 40px;
  left: 800px;
  top: 25px;
  background: #FFFFFF;
  border: 1px solid #FDFDFD;
  box-sizing: border-box;
  box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.02);
  border-radius: 43px;
}
.stext{
  position: absolute;
  width: 240px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border: 1px solid #FDFDFD;
  box-sizing: border-box;
  box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.02);
  border-radius: 43px;
  padding-left: 20px;
}
.stext::placeholder{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #B9B9B9;
}
.stext:focus{
  outline: none;
}
.sicon{
  position: absolute;
  width: 25px;
  height: 24px;
  left: 255;
  top: 7px;
  background: #A4A4A4;
}
.bt{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1115px;
  top: 25px;
  background: #FF6D4C;
  border:1px solid #FF6D4C;
  border-radius: 50px;
}
.bticon{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 8px;
  top: 10px;
}
.blocks{
  position: absolute;
  width: 1473px;
  height: 136px;
  left: 20px;
  top: 100px;
}
.block1{
  position: absolute;
  width:250px;
  height: 100px;
  left: 10px;
  top: 10px;
  background: linear-gradient(113.24deg, #FF968F 16.01%, #E84141 106.71%);
  box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
  border-radius: 20px;
}
.bhead{
  position: absolute;
  width: 200px;
  height: 24px;
  left: 20px;
  top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
.bbody{
  position: absolute;
  width: 95px;
  height: 60px;
  left: 20px;
  top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 60px;
  color: #FFFFFF;
}
.bborder{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 150px;
  top: 18px;
  border: 1px solid rgba(255, 253, 253, 0.22);
  box-sizing: border-box;
  border-radius: 50px;
}
.blogo{
  position: absolute;
  width: 25px;
  height: 25px;
  left: 15px;
  top: 15px;
}
.block2{
  position: absolute;
  width: 250px;
  height: 100px;
  left:300px;
  top: 10px;
  background: linear-gradient(121deg, #7EEB7C 31.23%, #36C95F 108.38%);
  box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
  border-radius: 20px;
}
.block3{
  position: absolute;
  width: 250px;
  height: 100px;
  left: 600px;
  top: 10px;
  background: linear-gradient(121deg, #92BDFF 31.23%, #369DC9 108.38%);
  box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
  border-radius: 20px;
}
.block4{
  position: absolute;
  width: 250px;
  height: 100px;
  left: 900px;
  top: 10px;
  background: linear-gradient(121deg, #BB92FF 31.23%, #A336C9 108.38%);
  box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
  border-radius: 20px;
}
.patients{
  position: absolute;
  width: 280px;
  height: 350px;
  left: 30px;
  top: 230px;
  background: #FFFFFF;
  box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
  border-radius: 20px;
}
.phead{
  position: absolute;
  width: 146px;
  height: 27.34px;
  left: 20px;
  top: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
.pmore{
  position: absolute;
  width: 64px;
  height: 21.87px;
  left: 210px;
  top: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2BC155;
}
.p1{
  position: absolute;
  width: 280px;
  height: 60px;
  left: 0px;
  top: 60px;
  background: #FFFFFF;
  border-radius: 12px;
}
.ppic{
  position: absolute;
  width: 50px;
  height: 46px;
  left: 20px;
  top: 6px;
  background: #C4C4C4;
  border-radius: 50px;
}
.pname{
  position: absolute;
  width: 200px;
  height: 21.87px;
  left: 80px;
  top: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.p-age{
  position: absolute;
  width: 60px;
  height: 19.14px;
  left: 80px;
  top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: #969BA0;
}
.sept2{
  position: absolute;
  width: 280px;
  height: 0.91px;
  left: calc(50% - 280px/2 - 387px);
  top: 930.28px;
  background: #F8F8F8;
  border-radius: 1px;
}
.p2{
  position: absolute;
  width: 280px;
  height: 60px;
  left: 0px;
  top: 130px;
  background: #FFFFFF;
  border-radius: 12px;
}
.p3{
  position: absolute;
  width: 280px;
  height: 60px;
  left: 0px;
  top: 200px;
  background: #FFFFFF;
  border-radius: 12px;
}
.p4{
  position: absolute;
  width: 280px;
  height: 60px;
  left: 0px;
  top: 270px;
  background: #FFFFFF;
  border-radius: 12px;
}
.recover{
  position: absolute;
  width: 76px;
  height: 19.14px;
  left: 180px;
  top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: #2BC155;
}
.progress{
  position: absolute;
  width: 100px;
  height: 19.14px;
  left: 160px;
  top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: #FFB800;
}
.reject{
  position: absolute;
  width: 100px;
  height: 19.14px;
  left: 170px;
  top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: #F46B68;
}
.pstats{
  position: absolute;
  width: 830px;
  height: 350px;
  left: 340px;
  top: 230px;
  background: #FFFFFF;
  box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
  border-radius: 20px;
}
.pshead{
  position: absolute;
  width: 158px;
  height: 30px;
  left: 30px;
  top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
.monthly{
  position: absolute;
  width: 94px;
  height: 38px;
  left: 540px;
  top: 25px;
  background: #2BC155;
  border: 1px solid #2BC155;
  border-radius: 6px;
  color:#FFFFFF;
}
.weekly{
  position: absolute;
  width: 85px;
  height: 38px;
  left: 640px;
  top: 25px;
  color: #8DAC9A;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}
.today{
  position: absolute;
  width: 85px;
  height: 38px;
  left: 720px;
  top: 25px;
  color: #8DAC9A;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}
.psimg{
  position: absolute;
  background: url('../../images/admin/home/pstats.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 1300px;
  height: 280px;
  top: 60px;
  left: 10px;
}
.doctors{
  position: absolute;
  width: 1150px;
  height: 350px;
  left: 30px;
  top: 620px;
  background: #FFFFFF;
  box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
  border-radius: 20px;
  overflow: hidden;
}
.dhead{
  position: absolute;
  width: 252.99px;
  height: 30px;
  left: 30px;
  top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
.dmore{
  position: absolute;
  width: 149.06px;
  height: 24px;
  left: 1000px;
  top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2BC155;
}
.darrow{
  position: absolute;
  z-index:-1;
  width: 900px;
  height: 62.34px;
  left: 1px;
  top: 200px;
  background: url('../../images/admin/home/doctornav.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.dlist{
  position: absolute;
  width: 1100px;
  height: 310px;
  left: 20px;
  top: 50px;
  overflow: auto;
}
.d1{
  position: absolute;
  width: 200px;
  height: 240px;
  left: 10px;
  top: 20px;
  background: #FFFFFF;
  border-radius: 14px;
}
.dheadie{
  position: absolute;
  width: 133px;
  height: 24px;
  left: 30px;
  top: 135px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.ddesg{
  position: absolute;
  width: 100px;
  height: 21px;
  left: 45px;
  top: 160px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: #04A547;
}
.dbody{
  position: absolute;
  width: 195px;
  height: 36px;
  left: 5px;
  top: 190px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #969BA0;
}
.dpic{
  position: absolute;
  width: 120px;
  height: 130px;
  left: 40px;
  top: 0px;
  background: #C4C4C4;
  border-radius: 15px;
}
.d2{
  position: absolute;
  width: 200px;
  height: 240px;
  left: 230px;
  top: 20px;
  background: #FFFFFF;
  border-radius: 14px;
}
.d3{
  position: absolute;
  width: 200px;
  height: 240px;
  left: 450px;
  top: 20px;
  background: #FFFFFF;
  border-radius: 14px;
}
.d4{
  position: absolute;
  width: 200px;
  height: 240px;
  left: 670px;
  top: 20px;
  background: #FFFFFF;
  border-radius: 14px;
}
.d5{
  position: absolute;
  width: 200px;
  height: 240px;
  left: 890px;
  top: 20px;
  background: #FFFFFF;
  border-radius: 14px;
}
